.form__labelText {
   max-width: 150px;
   width: 100%;
   display: inline-block;
   margin-right: 5px;
}

.form__input {
    border: 1px dotted #ccc;
    padding: 10px;
    max-width: 400px;
    width: 100%;    
}

.form__input--readonly {
    background-color: #ccc;
}

.form__field--currency {
    border: 1px dotted #ccc;
    padding: 10px;
    max-width: 400px;
    width: 100%;   
}

.form__button {
    width: 100%;
    padding: 10px;
    background-color: hsl(203, 54%, 27%);
    border: none;
    color:antiquewhite;
    font-weight: 900;
}

.form__button:hover {
    background-color: hsl(202, 37%, 40%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
}

.form {
    margin-top: 20px;
}

.form__legend {
    background-color: hsl(203, 54%, 27%);
    color: antiquewhite;
    padding: 10px;
    font-weight: 900;
}

.form__field:required {
    border-color: #777;
}

.form__field:invalid {
background-color:antiquewhite;
}

