html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: Montserrat sans-serif;
    display: flex;
    align-items: center;
    background-image: url("https://i.postimg.cc/MHZPMsZD/mediamodifier-I3-HPUolh5h-A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}